

<div class="container pt-5" >


	<div class="col-sm-4 pt-5" style="margin: auto;
width: 60%;

padding: 10px;" >


<div class="card ">
<article class="card-body">
	<h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
	<hr>

  {{#if loginErr}}
<p class="text-danger text-center" > Login Failed Try again </p>
{{else}}
<p class="text-success text-center">We'll never share your credentials with anyone else.</p>


{{/if}}

	
	
  
  <form   action="/login" method="post" >







 
	<div class="form-group">
	<div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
		 </div>
		<input name="Email" class="form-control" placeholder="Enter Email" type="email">
	</div> <!-- input-group.// -->
	</div> <!-- form-group// -->
	<div class="form-group">
	<div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
	    <input class="form-control" name="Password" placeholder="******" type="password">
	</div> <!-- input-group.// -->
	</div> <!-- form-group// -->
	<div class="form-group">
	<button type="submit" class="btn btn-primary btn-block"> Login  </button>
	</div> <!-- form-group// -->
	<p class="text-center"><a href="/forgotPassword" class="btn">Forgot password?</a></p>
  <a href="/signup">Create new account?</a>
	</form>
</article>
</div> <!-- card.// -->

	</div> <!-- col.// -->






</div>