<section>
    <div class="row">
   <div class="container">
       <div class="col-md-12 text-center">
          <h3>Order Placed </h3>

          <a type="button" class="btn btn-success" href="/orders">View Orders</a>
       </div>
   </div>
    </div>
</section>



