  <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ordered Successfully</li>
          </ol>
        </nav>
      </div>
    </div>

<section>
    <div class="row">
   <div class="container">
       <div class="col-md-12 text-center">
          <h3>Order Placed </h3>

          <a type="button" class="btn btn-success" href="/orders">View Orders</a>
       </div>
   </div>
    </div>
</section>



